body {
    background-color: #111;
    font-family: arial, helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.card {
    background-color: #fff;
    padding: 25px;
    width: 90%;
    max-width: 350px;
    border-radius: 16px;
    text-align: center;
}
.logo {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h2 {
    font-size: 18px;
    margin-bottom: 4px;
}

.username {
    display: block;
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
}

h1 {
    font-size:16px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.icon {
    width: 22px;
    height: 22px;
    object-fit: contain;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    padding: 12px;
    margin-bottom: 12px;

    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-weight: bold;

    transition: all 0.25s ease;
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.ig {
    background-color: #e1309c;
}

.tt {
    background-color: #000;
    color: #25f4ee;
}

.wa {
    background-color: #25d366;
}

.ig:hover { background-color: #c92d63;}
.tt:hover { background-color: #111;}
.wa:hover { background-color: #1ebe57;}